<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Please Login</h2>

		<form action="/login" method="post" th:object="${user}" >

		<table>
			<tr>
				<td> 
					<label for="">Username:</label> 
				</td>
				<td>
					<input type="text" name="username" id="" th:field="*{username}" size="30" placeholder="Please type in your username" >
					<p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" style="color: red;">

				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input type="password" name="password" id="password" th:field="*{password}" size="30" placeholder="Please type in your password">
					<p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" style="color: red;">

				</td>
			</tr>
			<tr>
				<td>
                    
                    What is 32 + 3?
                    <input type="answer" name="answer" id="answer" th:field="*{answer}" size="30">


                </td>
				<td>
					<button>Login</button>
				</td>
			</tr>
		</table>

		</form>
		
    
</body>
</html>